
table.tbl-kantin tr:nth-child(odd) {
    background-color: #f1f2fd
}
table.tbl-kantin th {
    background-color: white;
}
.btn-hapus{
    background-color: hsl(3, 81%, 47%);
    color: white;
}

.btn-hapus:hover{
    background-color: rgb(27, 23, 231);
    /* color:black; */
}
.btn-edit:hover{
    background-color: rgb(27, 23, 231);
    color:white;
}
.btn-tambah{
    border-radius: 10px;
    border:none;
    color:white;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, blue, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, blue, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, blue, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, blue, black); /* Standard syntax */
    
}
.btn-tambah:hover{
    background: 52e615; /* For browsers that do not support gradients */
    background: linear-gradient(-90deg, #52e615, #f5f2f2);/* Standard syntax */
    background: -webkit-linear-gradient(-90deg, #52e615, #f5f2f2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #52e615, #f5f2f2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #52e615, #f5f2f2); /* For Firefox 3.6 to 15 */
}